@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Space Grotesk', 'Avenir Next', 'Trebuchet MS', sans-serif;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
}

.shake {
  animation: shake 0.2s linear;
}
